<!-- <p>detail-produit works!</p> -->
<div class="card mb-3" style="width: 700px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{dataPassed.image}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h5 class="card-title">Nom: {{dataPassed.titre}}</h5>
                <h5 class="card-title">Description: {{dataPassed.description}}</h5>
                <h5 class="card-title">Prix: {{dataPassed.prix}} $</h5>
                <h5 class="card-title">Quantite: {{dataPassed.qte}}</h5>
                <h5 class="card-title">Categorie: {{dataPassed.categorie}}</h5>

            </div>
        </div>
    </div>
</div>
